In [4]:
#Import preprocessing libraries
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from imblearn.combine import SMOTETomek
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from imblearn.pipeline import Pipeline as ImblearnPipeline
from sklearn.metrics import accuracy_score

In [5]:
#Loading the datasets
df = pd.read_csv('eda.csv', index)

,Unnamed: 0,Overall,Potential,Age,Height(in cm),Weight(in kg),Weak Foot Rating,Skill Moves,International Reputation,Pace Total,...,Jumping,Stamina,Strength,Aggression,Vision,Penalties,Composure,GoalkeeperKicking,Nationality,Preferred Foot
0,0,91,91,35,169,67,4,4,5,81,...,68,70,68,44,94,75,96,15,Argentina,Left
1,1,91,91,34,185,81,4,4,4,80,...,79,82,82,63,89,84,90,5,France,Right
2,2,91,91,33,185,81,4,4,5,75,...,85,76,87,81,81,90,88,12,Poland,Right
3,3,91,91,31,181,70,5,4,4,74,...,63,88,74,75,94,83,89,5,Belgium,Right
4,4,91,95,23,182,73,4,5,4,97,...,77,87,76,64,83,80,88,7,France,Right
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,18534,47,56,21,174,68,3,2,1,68,...,45,32,31,37,52,40,47,5,Republic of Ireland,Right
18535,18535,47,57,17,175,60,3,2,1,55,...,55,34,35,52,40,33,45,11,China PR,Right
18536,18536,47,67,18,170,65,3,2,1,64,...,54,36,31,39,50,43,59,8,Northern Ireland,Right
18537,18537,47,61,17,178,65,3,2,1,52,...,72,49,34,42,32,37,41,13,Republic of Ireland,Right
18538,18538,47,50,25,176,66,3,2,1,61,...,66,56,55,47,39,35,32,6,India,Left